@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body {
    background-color: #f8b133;
    background-image: url('/images/background-01.png');
    background-attachment: fixed;
    background-position: center top;
    font-family: 'Varela Round', sans-serif;
}

.site {
    width: 960px;
    @media (max-width: 960px) {
        width: 100%;
    }

    margin: 0 auto 0 auto;
    background-color: #fff;
    min-height: 100%;
    box-shadow: 0 0 15px 0px #888;
    .header {
        background-color: #33c6cd;
        width: 100%;
        text-align: center;
        h1, h2 {
            color: #fff;
            text-transform: uppercase;
        }
        h1 {
            padding-top: 50px;
            font-size: 90px;
            letter-spacing: 4px;
            em {
                font-weight: bold;
            }
        }
        h2 {
            padding-bottom: 40px;
            font-size: 45px;
            letter-spacing: 8px;
            em {
                color: #d6aa53;
                font-weight: bold;
            }
        }
        ul {
            border-top: 1px solid #fff;
            text-align: right;
            li {
                text-transform: uppercase;
                display: inline-block;
                font-size: 25px;
                text-align: center;
                color: #fff;
                text-decoration: none;
                line-height: 40px;
                &:nth-child(1) {
                    width: 144px;
                }
                &:nth-child(2) {
                    width: 224px;
                }
                &:nth-child(3) {
                    width: 304px;
                }
                &:nth-child(4) {
                    width: 104px;
                }
                &:nth-child(5) {
                    width: 184px;
                }
                &:hover {
                    background-color: #fff;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    &:hover {
                        color: #33c6cd;
                    }
                    em {
                        color: #d6aa53;
                    }
                }
            }
        }
    }
    .main {
        padding: 40px 40px;
        p {
            line-height: 115%;
            text-align: justify;
        }

        .posts {
            li {
                padding: 0px 21px 40px 21px;
                display: inline-block;
                width: 250px;
                vertical-align: top;
                img {
                    width: 100%;
                    height: 250px;
                }
                a {
                    color: #000;
                    font-weight: bold;
                    text-decoration: none;
                    &:hover {
                        img {
                            opacity: 0.7;
                        }
                    }
                }
                h3 {
                    font-size: 25px;
                    text-transform: uppercase;
                    padding: 20px 0 10px 0;
                }
            }
        }
        article {
            padding: 0px 21px;
            h3 {
                font-size: 30px;
                padding: 20px 0 10px 0;
                text-transform: uppercase;
            }
            ul.cv {
                padding: 0 0 20px 0;
                li {
                    clear: both;
                    padding: 5px 0 5px 0;
                    p {
                        padding-top: 10px;
                    }
                    > span {
                        &.title {
                            min-width: 50px;
                            display: inline-block;
                            color: #d6aa53;
                            font-weight: bold;
                        }
                        &.complement {
                            float: right;
                            color: #666;
                        }
                    }
                }
            }
            img {
                width: 100%;
            }
        }
    }
}
