---
layout: default
---

article
  h3 Formation
  ul.cv
    li
      span.title 2012
      | Bac +3 Game design à l'ICAN
      span.complement
        | Paris 12<sup>ème</sup>
    li
      span.title 2009
      | Licence de psychologie à Lille 3
      span.complement
        | Villeneuve d'Ascq
    li
      span.title 2005
      | Baccalauréat S
      span.complement
        | Landrecies

  h3 Expérience
  ul.cv
    li
      span.title Stardust Interactive
      span.complement stage de juillet 2012 à février 2013
    li
      span.title Participation aux Art Games Weekend
      span.complement seconde session, en 2011

  h3 Domaines de compétence
  ul.cv
    li
      span.title Game design
      span.complement Word, Powerpoint, Excel, InDesign, Inkscape, Illustrator
      p
        | Conceptualisation et formalisation d'éléments de gameplay ; brainstorming ; rédaction de document de cadrage, de GDD pour une vue d'ensemble, de behavior-documents pour les développeurs et de divers documents adaptés à chaque corps de métier. Autonome et habitué aux travaux d'équipe. Recherche de l'innovation.
    li
      span.title Level design
      span.complement Unity, UDK
      p
        | Adaptation rapide à tout genre de jeux et aux changements ; gestion de rythme et flow du jeu ; diversification des challenges.
    li
      span.title Ergonomie
      p
        | Organisation de playtests, conception de tutoriaux, interfaces et menus. Études de l'affordance et de la clarté des signes et feedbacks (visuels et auditifs) inspiré du système de Bastien et Scapin.
    li
      span.title Anglais
      p
        | Niveau intermédiaire.
    li
      span.title Espagnol
      p
        | Niveau scolaire.
    li
      span.title 3D
      span.complement 3Dsmax, CrazyBump, Blender, ZBrush
      p
        | Charadesign, modélisation, animation, texturing.
    li
      span.title 2D
      span.complement Photoshop, Illustrator, Inkscape, Paint Tool Sai, Crayon 2H, 2B, 4B, 6B, Fusain
      p
        | Charadesign, photomontage, vectoriel, dessin, paysage et environnement.
    li
      span.title Composition musicale
      span.complement FLStudio, Audacity
      p
        | Feedback sonore, musique d'ambiance.
    li
      span.title Web
      span.complement HTML, CSS, PHP
      p
        | Codage, design.
    li
      span.title Montage vidéo
      span.complement After Effects, Camstudio

  h3 Activités et passions
  p
    | Dessin (charadesign principalement), danse, chant, sculture sur terre glaise, jeux de sociétés, jeux rétros (Atari 2800).
