<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Micka&euml;l Bigot</title>
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="site">
      <div class="header">
        <h1><em>Micka&euml;l</em> Bigot</h1>
        <h2>Game <em>&</em> level designer</h2>
        <ul>
          <li>
            <a href="/" class="{% if page.url == '/index.html' %}active{% endif %}">GD/LD</a>
          </li>
          <li>
            <a href="/ergonomie" class="{% if page.url == '/ergonomie/index.html' %}active{% endif %}">Ergonomie</a>
          </li>
          <li>
            <a href="/graphisme-et-son" class="{% if page.url == '/graphisme-et-son/index.html' %}active{% endif %}">Graphisme <em>&</em> son</a>
          </li>
          <li>
            <a href="/cv" class="{% if page.url == '/cv/index.html' %}active{% endif %}">CV</a>
          </li>
          <li>
            <a href="/contact" class="{% if page.url == '/contact/index.html' %}active{% endif %}">Contact</a>
          </li>
        </ul>
      </div>
      <div class="main">
        {{ content }}
      </div>
    </div>
  </body>
</html>
