doctype html
html
  head
    meta charset="UTF-8"

    title Micka&euml;l Bigot
    link rel="stylesheet" href="/css/reset.css"
    link rel="stylesheet" href="/css/main.css"
  body
    .site
      .header
        h1
          | <em>Micka&euml;l</em> Bigot
        h2
          | Game <em>&</em> level designer
        ul
          li
            a href="/" GD/LD
          li
            a href="/ergonomie" Ergonomie
          li
            a href="/graphisme-et-son"
              | Graphisme <em>&</em> son
          li
            a href="/cv" CV
          li
            a href="/contact" Contact
      .main
        |  {{ content }}

