---
layout: default
---

article.post
  img.wide src="/images/{{page.wide_image}}"
  .content
    h3= "{{page.title}}"
    | {{content}}
  ul.images
    li
      img.small src="/images/{{page.image_1}}"
    li
      img.small src="/images/{{page.image_2}}"
    li
      img.small src="/images/{{page.image_3}}"
    li
      img.small src="/images/{{page.image_4}}"
