---
layout: default
---

<article class="post">
  <img class="wide" src="/images/{{page.wide_image}}" />
  <div class="content">
    <h3>{{page.title}}</h3>
    {{content}}
  </div>
  <ul class="images">
    <li>
      <img class="small" src="/images/{{page.image_1}}" />
    </li>
    <li>
      <img class="small" src="/images/{{page.image_2}}" />
    </li>
    <li>
      <img class="small" src="/images/{{page.image_3}}" />
    </li>
    <li>
      <img class="small" src="/images/{{page.image_4}}" />
    </li>
  </ul>
</article>
